* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color:rgb(167, 77, 77);
    }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(158, 80, 80);
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  section {
    padding: 80px 20px;
    text-align: center;
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  
  #home {
    background: linear-gradient(to bottom, #f5e4d2, #fff);
    padding: 60px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .order-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover, .btn:hover {
    background-color:rgb(152, 135, 135);
  }
  
  .flavors {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap:wrap;
    margin-top: 20px;
  }
  
  .flavor-card {
    background-color: #fff;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .flavor-card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .flavor-card img {
    width: 200px;  
    height: auto;
    border-radius: 10px;
  }
  
  
  footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: rgb(155, 155, 153);
    background-color: beige;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      background-color: hwb(0 100% 0%);
      position: absolute;
      top: 70px;
      right: 0;
      width: 200px;
      padding: 20px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      display: none;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
  }
  .card {
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  nav a {
    color: #5c3b2e;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  nav a:hover {
    color: #a0522d;
  }
  
  